:root {
  --background-color: #000000;
  --foreground-color: #ffffff;
}

body {
  background: var(--background-color);
  color: var(--foreground-color);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
  width: 100%;
}

.Description {
  font-size: 13.5px;
  max-width: 75ch;
  color: var(--foreground-color);
  display: flex;
  justify-content: center;
}

h1 {
  color: var(--foreground-color);
  display: flex;
  justify-content: center;
}
