@media (prefers-color-scheme: dark) {
	:root {
		--background-color: #131313; /* Dark Gray */
		--foreground-color: #ffffff; /* Light Gray */
	}
}

@font-face {
	font-family: "Roboto";
	src: url("https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap");
}

body {
	background: var(--background-color);
	color: var(--foreground-color);
	display: flex;
	justify-content: center;
	font-family: "Poppins", Arial, Helvetica, sans-serif;
	height: 100%;
	width: 100%;
	overflow-x: hidden;
	font-family: "Roboto", sans-serif; /* add sans-serif to make sure the font family is working */
}

.top-background {
	width: 100%;
	height: 100%;
	position: absolute;
	background-image: url("../public/wallpaper.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	opacity: 0.09;
	filter: blur(30px);
	border-radius: 4.5px;
	margin-bottom: 20px;
	z-index: -1;
}

.avatar {
	border-radius: 50%;
	width: 400px;
	height: 400px;
	align-items: flex-start;
	justify-content: flex-start;
	display: flex;
	margin-bottom: 20px;
	position: absolute;
	left: 0;
	top: 50%;
	transform: translate(50%, -50%);
}

.main {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 15px;
	overflow: hidden;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	/* padding: 15px; */
	gap: 5px;
}

.list {
	display: flex;
	flex-direction: row;
	gap: 5px;
	padding: 15px;
	transform: translateY(-25px);
	margin-bottom: -40px;
	list-style: none;
	flex-wrap: wrap;
}

.header {
	font-size: 45px;
	font-weight: bold;
	max-width: fit-content;
	color: var(--foreground-color);
	margin: 0 auto;
	font-family: "Roboto", sans-serif; /* add sans-serif to make sure the font family is working */
}

.title {
	font-size: 25px;
	font-weight: bold;
	max-width: fit-content;
	color: var(--foreground-color);
	margin: 0 auto;
	font-family: "Roboto", sans-serif; /* add sans-serif to make sure the font family is working */
}

.social {
	display: block;
	padding: 5px;
	max-width: 40px;
	transition: transform 0.2s ease-in-out;
}

.social:hover {
	transform: scale(1.15);
}

.icon {
	padding-left: 5px;
	padding-right: 5px;
	border-radius: 15%;
	margin-top: 15px;
	transform-style: preserve-3d;
	transition: transform 0.3s;
}

.icon:hover {
	transform: rotate(1deg) scale(1.15);
	animation: rotate 0.2s ease-in-out;
}

.image {
	border-radius: 50%;
	max-height: 120px;
	max-width: 120px;
	margin-bottom: 20px;
	transform: translateY(25px);
}

.description {
	/* font-weight: bold; */
	font-size: 15px;
	max-width: 75ch;
	color: var(--foreground-color);
	display: flex;
	justify-content: center;
}

.gameDescription {
	font-weight: bold;
	margin-bottom: -10px;
	font-size: 15px;
	max-width: 50ch;
	color: var(--foreground-color);
	display: flex;
	justify-content: center;
}

h1 {
	color: var(--foreground-color);
	display: flex;
	justify-content: center;
}
