.text {
	font-size: 40px;
	font-weight: bold;
	max-width: fit-content;
	color: var(--foreground-color);
	margin: 0 auto;
}

.description {
	/* description text */
	font-size: 15px;
	max-width: fit-content;
	color: var(--foreground-color);
	padding: -15px;
	margin: 0 auto;
}

.box {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: auto;
	height: auto;
	overflow: hidden;
	transform: translate(-50%, -50%);
	/* padding: 15px; */
	gap: 5px;
}

.list {
	transform: translateY(20px);
}

.thumbnail {
	width: fit-content;
	height: fit-content;
	scale: 1;
}
